.sidebar {
    width: 200px;
    background-color: #172671;
    color: white;
    padding: 10px;
    margin-left: 0px;
  }
  
  .categories-button {
    background-color: #172671;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: large;
  }
  
  .categories-list, .posts-list {
    margin-top: 10px;

  }
  .categories-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  
  }
.page-content{
   
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    
}
.posts-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-top: 25px;
    
}