nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #172671;
    font-family: "Segoe UI", Arial, sans-serif; 
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 1;
    border-radius: 0 0 0.5vw 0.5vw;
}

nav div img {
    height: 60px;
    width: auto;
    
    margin-left: 40px;
}
nav div {
    background-color: transparent;

}

nav div ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
  
    margin-right: 30px;
}

nav div ul li {
    color: #fff;
    font-size: 14px;
   
    margin-left: 20px;
}

.contact{
    background-color: #ff7704;
    padding: 10px 15px;
    border-radius: 18vw;
    cursor: pointer;
}

.contact:hover {
    background-color: #cf5e01;
}
.auth {
    color: #fff;
    text-decoration: none;
}
.dropdown {
    margin-right: 50px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(23, 38, 113); /* Same background color as nav bar with less opacity */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    flex-direction: column; 
    color: #fff;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column; 
  }
  
  .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content li {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
  }